In [2]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [3]:
nyc = pd.read_csv('nyc-rolling-sales.csv')

In [3]:
nyc.head()

,Unnamed: 0,BOROUGH,NEIGHBORHOOD,BUILDING CLASS CATEGORY,TAX CLASS AT PRESENT,BLOCK,LOT,EASE-MENT,BUILDING CLASS AT PRESENT,ADDRESS,...,RESIDENTIAL UNITS,COMMERCIAL UNITS,TOTAL UNITS,LAND SQUARE FEET,GROSS SQUARE FEET,YEAR BUILT,TAX CLASS AT TIME OF SALE,BUILDING CLASS AT TIME OF SALE,SALE PRICE,SALE DATE
0,4,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2A,392,6,,C2,153 AVENUE B,...,5,0,5,1633,6440,1900,2,C2,6625000,2017-07-19 00:00:00
1,5,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2,399,26,,C7,234 EAST 4TH STREET,...,28,3,31,4616,18690,1900,2,C7,-,2016-12-14 00:00:00
2,6,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2,399,39,,C7,197 EAST 3RD STREET,...,16,1,17,2212,7803,1900,2,C7,-,2016-12-09 00:00:00
3,7,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2B,402,21,,C4,154 EAST 7TH STREET,...,10,0,10,2272,6794,1913,2,C4,3936272,2016-09-23 00:00:00
4,8,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2A,404,55,,C2,301 EAST 10TH STREET,...,6,0,6,2369,4615,1900,2,C2,8000000,2016-11-17 00:00:00

In [5]:
#menggunakan function describe untuk mengetahui mean, median, and std dari setiap column
nyc.describe()

,Unnamed: 0,BOROUGH,BLOCK,LOT,ZIP CODE,RESIDENTIAL UNITS,COMMERCIAL UNITS,TOTAL UNITS,YEAR BUILT,TAX CLASS AT TIME OF SALE
count,84548.000000,84548.000000,84548.000000,84548.000000,84548.000000,84548.000000,84548.000000,84548.000000,84548.000000,84548.000000
mean,10344.359878,2.998758,4237.218976,376.224015,10731.991614,2.025264,0.193559,2.249184,1789.322976,1.657485
std,7151.779436,1.289790,3568.263407,658.136814,1290.879147,16.721037,8.713183,18.972584,537.344993,0.819341
min,4.000000,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
25%,4231.000000,2.000000,1322.750000,22.000000,10305.000000,0.000000,0.000000,1.000000,1920.000000,1.000000
50%,8942.000000,3.000000,3311.000000,50.000000,11209.000000,1.000000,0.000000,1.000000,1940.000000,2.000000
75%,15987.250000,4.000000,6281.000000,1001.000000,11357.000000,2.000000,0.000000,2.000000,1965.000000,2.000000
max,26739.000000,5.000000,16322.000000,9106.000000,11694.000000,1844.000000,2261.000000,2261.000000,2017.000000,4.000000

In [6]:
nyc['NEIGHBORHOOD'].value_counts()

NEIGHBORHOOD
FLUSHING-NORTH              3068
UPPER EAST SIDE (59-79)     1736
UPPER EAST SIDE (79-96)     1590
UPPER WEST SIDE (59-79)     1439
BEDFORD STUYVESANT          1436
                            ...
FRESH KILLS                    2
BRONX PARK                     1
PELHAM BAY                     1
EAST RIVER                     1
CITY ISLAND-PELHAM STRIP       1
Name: count, Length: 254, dtype: int64

In [8]:
#mencari tahun property dibangun di FLUSHING-NORTH paling banyak tahun berapa
fn=nyc[nyc['NEIGHBORHOOD']=='FLUSHING-NORTH']
print(fn['YEAR BUILT'].mode())

0    2014
Name: YEAR BUILT, dtype: int64

In [4]:
#mencari rata-rata dan median jumlah unit dalam 1 property yang terletak di BEDFORD STUYVESANT
bs=nyc[nyc['NEIGHBORHOOD']=='BEDFORD STUYVESANT']
print(bs['TOTAL UNITS'].mean())
print(bs['TOTAL UNITS'].median())

2.777158774373259
2.0

In [19]:
#mencari perbedaan antara luas tanah yang paling luas dan paling sempit dari property yang ada di BEDFORD STUYVESANT
bs['LAND SQUARE FEET'] = bs['LAND SQUARE FEET'].astype('float')
print(bs['LAND SQUARE FEET'].max()-bs['LAND SQUARE FEET'].min())

20000.0

/var/folders/0k/d_8hhj4d7_s57wk1mj8t85gc0000gn/T/ipykernel_845/1433026662.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bs['LAND SQUARE FEET'] = bs['LAND SQUARE FEET'].astype('float')

In [26]:
#mencari std/ukuran menyebarnya data luas tanah dari property yang ada di BEDFORD STUYVESANT
print(bs['LAND SQUARE FEET'].std())

1759.965872242055

In [27]:
#using the same data to calculate variance
print(bs['LAND SQUARE FEET'].var())

3097479.871456737

In [30]:
#using the same data, test apakah termasuk distribusi normal atau bukan
from scipy.stats import kstest
kstest(bs['LAND SQUARE FEET'], 'norm')

KstestResult(statistic=0.766016713091922, pvalue=0.0, statistic_location=320.0, statistic_sign=-1)

In [ ]:
#p-value=0 so it's a normal distribution

In [29]:
from scipy.stats import ttest_1samp
tset, pval=ttest_1samp(bs['LAND SQUARE FEET'], 10)
print('p-value:', pval/2)

p-value: 3.377231152546484e-207